<!DOCTYPE html>
<html lang="en">
<head>
    <title>Utopian.io - Rewarding Open Source Contributors - Join!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Join our community and earn rewards by contributing to your favorite Open Source projects! Suggestions, Projects, Development, Bug Hunting, Translation, Graphics, Documentation, Analysis, Visibility, Tutorials, Video Tutorials, Copywriting">
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="../assets/css/vendor.css"/>
    <link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="200">

<div id="app" v-cloak>

    <div class="container fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-uppercase font-weight-bold" id="navbar">
            <a class="navbar-brand smoothscroll" href="#header">
                <img src="../assets/img/logo-utopian.png"/>
            </a>

            <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#rewards">{{ trans('messages.nav.rewards') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#rules">{{ trans('messages.nav.rules') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#moderators">{{ trans('messages.nav.moderators') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#blog">{{ trans('messages.nav.blog') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/imwatsi/utopian.io-help_center" target="_blank">{{
                            trans('messages.nav.help') }}</a>
                    </li>
                </ul>
                <div class="text-right">
                    <div class="dropdown" id="language" v-if="langswitch">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img :src="currentLanguage.flag" width="20" :alt="currentLanguage.label"/> <i
                                class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" @click="getMessages(lang)" v-for="lang in languages">
                                <img :src="lang.flag" width="20"/>
                                {{ lang.label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="header">
        <div class="container" id="header-content">
            <h3 class="text-white text-center" v-html="trans('messages.header.text1')"></h3>
            <h1 class="text-white text-center font-weight-bold text-uppercase"
                v-html="trans('messages.header.text2')"></h1>
            <h2 class="text-white text-center" v-html="trans('messages.header.text3')"></h2>
            <div class="text-center my-5">
                <a href="https://steemit.com/pick_account" class="btn btn-primary mr-2 font-weight-bold">
                    {{ trans('messages.nav.signup') }}
                </a>
                <span data-toggle="modal" data-target="#loginModal" class="btn btn-primary ml-2 font-weight-bold">
                    {{ trans('messages.nav.login') }}
                </span>
            </div>
        </div>
        <div class="parallax-wave" id="wave-grey1"></div>
        <div class="parallax-wave" id="wave-grey2"></div>
        <div class="parallax-wave" id="wave-white"></div>
    </div>

    <div class="container text-center" id="screen">
        <img src="assets/img/screen.png" class="mx-auto"/>
        <!--<a href="#" class="play-video">-->
        <!--<i class="fa fa-play"></i>-->
        <!--</a>-->
    </div>

    <div class="container lead" style="margin: 50px auto;z-index: 99;position: relative;">

        <center><h1>Cookies</h1></center>
        <h2 id="bot-vote">What Are Cookies</h2>
        <p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that
            are downloaded to your computer, to improve your experience. This page describes what information they
            gather, how we use it and why we sometimes need to store these cookies. We will also share how you can
            prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites
            functionality.</p>
        <p><!-- react-text: 57 -->For more general information on cookies see the &nbsp;<!-- /react-text --><a
                href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies">HTTP Cookies article at Mozilla
            Developer Network</a></p><br>
        <h2 id="bot-vote">How We Use Cookies</h2>
        <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry
            standard options for disabling cookies without completely disabling the functionality and features they add
            to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or
            not in case they are used to provide a service that you use.</p><br>
        <h2 id="bot-vote">Disabling Cookies</h2>
        <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for
            how to do this). Be aware that disabling cookies will affect the functionality of this and many other
            websites that you visit. Disabling cookies will usually result in also disabling certain functionality and
            features of the this site. Therefore it is recommended that you do not disable cookies.</p><br>
        <h2 id="bot-vote">The Cookies We Set</h2>
        <p>If you create an account with us then we will use cookies for the management of the signup process and
            general administration. These cookies will usually be deleted when you log out however in some cases they
            may remain afterwards to remember your site preferences when logged out.</p>
        <p>We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log
            in every single time you visit a new page. These cookies are typically removed or cleared when you log out
            to ensure that you can only access restricted features and areas when logged in.</p>
        <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be
            set to remember your user details for future correspondence.</p><br>
        <h2 id="bot-vote">Third Party Cookies</h2>
        <p>In some special cases we also use cookies provided by trusted third parties. The following section details
            which third party cookies you might encounter through this site.</p>
        <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web
            for helping us to understand how you use the site and ways that we can improve your experience. These
            cookies may track things such as how long you spend on the site and the pages that you visit so we can
            continue to produce engaging content.</p>
        <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
        <p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we
            are still testing new features these cookies may be used to ensure that you receive a consistent experience
            whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p><br>
        <h2 id="bot-vote">More Information</h2>
        <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you
            aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact
            with one of the features you use on our site.</p>
        <p>However if you are still looking for more information then you can contact us through one of our preferred
            contact methods.</p>
        <p>Email: &nbsp;<a href="mailto:info@utopian.io">info@utopian.io</a>
        </p><br>
        <em>
            <center>Document Last Modified <b>February 9th, 2018</b></center>
        </em>
        </p>
    </div>


    <footer class="mt-5">
        <div class="border-top"></div>
        <div class="container">
            <div class="social-links">
                <a href="https://www.facebook.com/utopian.io/" target="_blank">
                    <img src="assets/img/facebook2.png"/>
                </a>
                <a href="https://twitter.com/utopian_io" target="_blank">
                    <img src="assets/img/twitter2.png"/>
                </a>
                <a href="https://www.linkedin.com/company/18349554/" target="_blank">
                    <img src="assets/img/linkedin2.png"/>
                </a>
                <a href="https://github.com/utopian-io" target="_blank">
                    <img src="assets/img/github2.png"/>
                </a>
            </div>
            utopian.io
        </div>
    </footer>

</div>

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Redirection to SteemConnect v2</h4>
            </div>
            <div class="modal-body">
                <p>
                    You will be redirected to SteemConnect v2 to authenticate to the Steem blockchain.
                    <br/>
                    SteemConnect is developed and maintained by Steemit, Inc. and Busy.org.
                    <br/>
                    Utopian.io will never access your private keys.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default proceed_modal">Proceed</button>
            </div>
        </div>

    </div>
</div>


<div id="cookie-policy-banner">
    <div>
        <p class="policy-summary">To help provide a safer and more optimal experience, we use cookies. By clicking or
            navigating the site, you agree to
            allow our collection of information on and off Utopian through cookies. Learn more, including about
            available controls:
            <a class="policy-link" href="https://join.utopian.io/cookies">Cookies Policy.</a>
            <br/>
            If you do not agree with our Cookie Policy,
            <a href="https://www.google.com" class="policy-link">please leave the site.</a>
        </p>
    </div>
    <button id="proceed-button" class="proceed-button">Ok</button>
</div>


<script type="text/javascript" src="../assets/js/vendor.js"></script>
<script type="text/javascript" src="../dist/assets/js/index.js"></script>

</body>
</html>
